In [1]:
import pandas as pd
import numpy as np

In [2]:
DATA_PATH = '/Users/hong/Desktop/practice_code/mid_project/data/전문의'

In [16]:
df = pd.read_csv(f'{DATA_PATH}/2021_2분기 filled_data.csv')
df2 = pd.read_csv(f'{DATA_PATH}/2022_2분기 filled_data.csv')
df3 = pd.read_csv(f'{DATA_PATH}/2023_2분기 filled_data.csv')
df4 = pd.read_csv(f'{DATA_PATH}/2024_2분기 filled_data.csv')

In [17]:
df['연도'] = 2021
df2['연도'] = 2022
df3['연도'] = 2023
df4['연도'] = 2024

In [30]:
df.shape

(714, 30)

In [40]:
df2.shape

(178, 30)

In [27]:
df3.shape

(178, 30)

In [39]:
df4.shape

(180, 30)

In [29]:
df = pd.concat([df, df4], axis=0)

In [38]:
df.iloc[350:360, :]

,시도,요양기관종별,합계,내과,신경과,정신건강의학과,외과,정형외과,신경외과,심장혈관흉부외과,...,병리과,진단검사의학과,결핵과,재활의학과,핵의학과,가정의학과,응급의학과,직업환경의학과,예방의학과,연도
172,세종,병원,11,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2022
173,세종,요양병원,11,0,0,0,3,0,3,1,...,0,0,0,0,0,1,0,0,0,2022
174,세종,정신병원,2,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2022
175,세종,의원,278,50,3,14,12,17,5,2,...,1,0,0,4,0,31,1,0,0,2022
176,세종,보건지소,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2022
177,세종,한방병원,3,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,2022
0,서울,계,26533,5034,568,1146,1656,1697,676,307,...,367,309,19,659,99,2020,450,99,44,2023
1,서울,상급종합병원,6655,1676,248,157,597,250,212,154,...,176,143,0,105,63,153,174,24,20,2023
2,서울,종합병원,3653,896,135,77,274,262,136,60,...,77,80,0,62,27,110,217,16,10,2023
3,서울,병원,2037,257,47,14,138,405,162,10,...,3,4,3,100,0,97,9,14,2,2023

In [41]:
df.to_csv(f'{DATA_PATH}/전문의수추이.csv', index=False)

In [3]:
df = pd.read_csv(f'{DATA_PATH}/전문의수추이.csv')
df.head()

,시도,요양기관종별,합계,내과,신경과,정신건강의학과,외과,정형외과,신경외과,심장혈관흉부외과,...,병리과,진단검사의학과,결핵과,재활의학과,핵의학과,가정의학과,응급의학과,직업환경의학과,예방의학과,연도
0,서울,계,25004,4741,545,1016,1573,1624,679,304,...,334,292,18,602,99,1870,414,89,46,2021
1,서울,상급종합병원,6455,1629,242,159,560,263,222,164,...,175,138,0,104,65,143,165,24,23,2021
2,서울,종합병원,3523,861,133,76,247,255,139,53,...,71,75,0,57,26,111,196,14,10,2021
3,서울,병원,2019,257,35,42,141,404,164,5,...,5,4,4,88,2,81,10,10,1,2021
4,서울,요양병원,468,104,49,8,36,14,17,9,...,0,2,0,101,0,81,6,0,1,2021

In [5]:
pop = pd.read_csv('/Users/hong/Downloads/2024-04-data filled_data.csv')
pop = pop.iloc[:, :2]
pop.head()

               행정구역 2024년09월_계_총인구수
0  전국  (0000000000)      51,248,233
1                서울       9,350,995
2                부산       3,273,473
3                대구       2,365,523
4                인천       3,016,520

In [9]:
pop = pop.iloc[:18, :]

In [11]:
pop = pop.iloc[1:,:]

In [15]:
pop

    시도        총인구수
1   서울   9,350,995
2   부산   3,273,473
3   대구   2,365,523
4   인천   3,016,520
5   광주   1,411,357
6   대전   1,440,456
7   울산   1,098,728
8   세종     389,443
9   경기  13,680,645
10  강원   1,520,410
11  충북   1,590,858
12  충남   2,135,373
13  전북   1,741,640
14  전남   1,791,496
15  경북   2,537,955
16  경남   3,232,297
17  제주     671,064

In [14]:
pop.rename(columns={'행정구역':'시도', '2024년09월_계_총인구수':'총인구수'}, inplace=True)

/var/folders/67/63m6y1m97g90zkz5c8wkzrdr0000gn/T/ipykernel_21631/2387478212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop.rename(columns={'행정구역':'시도', '2024년09월_계_총인구수':'총인구수'}, inplace=True)

In [16]:
df_merge = pd.merge(df, pop, how='left', on='시도')

In [18]:
df_merge.head()

,시도,요양기관종별,합계,내과,신경과,정신건강의학과,외과,정형외과,신경외과,심장혈관흉부외과,...,진단검사의학과,결핵과,재활의학과,핵의학과,가정의학과,응급의학과,직업환경의학과,예방의학과,연도,총인구수
0,서울,계,25004,4741,545,1016,1573,1624,679,304,...,292,18,602,99,1870,414,89,46,2021,"9,350,995"
1,서울,상급종합병원,6455,1629,242,159,560,263,222,164,...,138,0,104,65,143,165,24,23,2021,"9,350,995"
2,서울,종합병원,3523,861,133,76,247,255,139,53,...,75,0,57,26,111,196,14,10,2021,"9,350,995"
3,서울,병원,2019,257,35,42,141,404,164,5,...,4,4,88,2,81,10,10,1,2021,"9,350,995"
4,서울,요양병원,468,104,49,8,36,14,17,9,...,2,0,101,0,81,6,0,1,2021,"9,350,995"

In [19]:
df_merge.to_csv(f'{DATA_PATH}/전문의수종합.csv', index=False)